.jumbotron {
  padding: 20px;
}

.main-title {margin-top: 0px;}
.demo-form-select {max-width: 600px;}
.main-demo-options {margin-bottom: 15px;}

/*.date-input-container div {width: 100% !important;}*/

body {margin-bottom: 100px;}
.instructions {margin-left: 20px; margin-top: 50px; max-width: 600px;}
.required .control-label::after, .required .checkbox-label::after {content: '\2217';}
.emphasized-note {color: green;}
